{% extends 'base.html.twig' %}
{% block title %}Show {% endblock %}
{% block body %}
    <h1> {{ category[0].name }} </h1>

    {% for program in programs %}
        <ul>
            <li>{{ program.id }}/ {{ program.title }}</li>
            <li>{{ program.synopsis }}</li>
        </ul>
    {% endfor %}

    <a href="{{ path('category_app_index') }}">
        Retour à la liste des catégories
    </a>
{% endblock %}


