{% extends 'base.html.twig' %}

{% block title %}Season #{{ season.number }}{% endblock %}

{% block body %}
    <div class="media">
        <img class="align-self-start mr-3" src="{{program.poster}}" alt="{{ program.title }} poster">
        <div class="media-body">
            <h1 class="mt-0">Saison{{ season.number }} de {{ program.title }}</h1>
            <p>{{ season.description }}</p>
            <p>Liste des épisodes :</p>
            {% for episode in episodes %}
                <ul>
                    <li>episode-{{ episode.title }}: {{ episode.synopsis }}</li>
                </ul>
            {% endfor %}
        </div>
    </div>

    <a href="{{ path('program_app_show', {id : program.id}) }}">
        Retour à la liste des séries du programme
    </a>
{% endblock %}